$bg-color: #0C141B;
$font-color: rgb(136, 153, 166);
$plain-white: #cbdbe6;
$nav-selected-color: #0C141B;
$nav-tabs-border-radius: 0rem;
$nav-selected-bg: #e8e8e8;
$table-color: $font-color;
$table-border-color: rgb(56, 68, 77);
$table-active-border-color: black;
$table-hover-bg: $table-active-border-color;
$tableheader: rgb(16, 31, 44);
$nav-tabs-border-color: $table-border-color;
$nav-tabs-link-hover-border-color: $table-border-color;
$nav-tabs-link-active-border-color: $table-border-color;
$input-bg: $bg-color !default;
$input-color: $font-color !default;
$input-disabled-bg: $bg-color !default;
$input-border-color: $font-color !default;
$input-group-addon-bg: $bg-color;
$daily-color: #0C141B;

:root {
    --daily-width: 5.415vw;
    --daily-margin: 0vw;
    --filter-width: 8vw;
    --filter-height: 1.6vw;
    --filter-margin: 0.1vw;
    --daily-tier-1: rgb(221, 126, 107);
    --daily-tier-2: rgb(175, 203, 119);
    --daily-tier-3: rgb(98, 189, 135);
}

.nav#myTab,
#statsHeader {
    // line-height: 3;
    font-family: "Consolas";
    font-weight: 600;
    color: $font-color;
}

.nav .nav-item .nav-link {
    color: $font-color;
}

.nav .nav-item .nav-link.active {
    color: $nav-selected-color;
    border-bottom-color: #ff0000a6;
    border-bottom-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 3 #676464;
    box-shadow: inset 0 0 3px #676464;
}

// .nav .nav-item .nav-link:hover {
//     background-color: #e3e6e7;
// }
:focus {
    outline: 0px !important
}

.fluffyContainer {
    word-break: break-all;
}

.input-shadow.form-control:focus,
.input-shadow.custom-select:focus,
.show>.daily {
    border-color: rgba(180, 0, 0, 0.698);
    -webkit-box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
}

label {
    margin: 20px 0;
    position: relative;
    display: inline-block;
    color: $font-color;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: $bg-color !important
}

label>span {
    padding: 0px;
    position: absolute;
    width: 110%;
    top: 0;
}

input+span,
select+span {
    opacity: 1;
    transform: scale(0.75) translateY(-112%) translateX(-20px);
}

// select+span {
//   opacity:1;
//   transform: scale(0.75) translateY(-112%) translateX(-185px);
// }
.form-group>label {
    width: 49.1%;
}

#InstantUpdating {
    display: block;
    background: none;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

td,
th {
    padding: 1px !important;
}

.levelRows {
    color: $font-color;
    background-color: $tableheader;
    border-color: #dee2e6;
}

.thead-active>tr>th {
    background-color: $tableheader;
}

#OtherStats>label>input {
    height: calc(0.5em + 0.75rem + 2px);
}

.containerInventory {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 0 0 calc(var(--daily-width) * 4)
}

.DailyCalender {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    flex: 0 0 calc(var(--daily-width) * 7)
}

.daily {
    background-color: $bg-color;
    border: 1px solid $bg-color;
    color: $daily-color;
    cursor: pointer;
    position: relative;
    width: calc(var(--daily-width) - var(--daily-margin) * 2);
    height: calc(var(--daily-width) - var(--daily-margin) * 2);
    margin: var(--daily-margin);
    text-align: center;
    font-size: 0.8vw;
}

.testingCSS.dropdown-toggle {
    white-space: unset;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none !important;
}

.daily-empty {
    color: $plain-white;
    border: none;
    visibility: hidden;
}

.filter {
    background-color: $plain-white;
    border: 1px solid gray;
    border-radius: 5%;
    cursor: pointer;
    position: relative;
    width: var(--filter-width);
    height: var(--filter-height);
    margin: var(--filter-margin);
    text-align: center;
    font-size: 0.8vw;
}

.containerFilter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 0 0 calc(var(--filter-width) * 4)
}

.containerFilterInventory {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    flex: 0 0 calc(var(--filter-width) + var(--filter-height) * 36.13)
}

.daily1 {
    background-color: var(--daily-tier-1)
}

.daily3 {
    background-color: var(--daily-tier-3)
}

.input-shadow.filterButtons {
    width: auto;
    display: inline-block
}

a#navbarDropdown.nav-link.dropdown-toggle.active.show::after {
    display: none !important;
}

.input-shadow.custom-select#InstantUpdating {
    background-color: $plain-white;
    background: none;
}

svg {
    width: 21px;
    height: 21px;
}

svg path {
    fill: $font-color !important;
}

html body {
    background-color: $bg-color;
}

.dailyHeader {
    color: $font-color;
}

.nav-tabs .nav-link.active.show {
    background-color: $nav-selected-bg;
}

div.show>div.dropdown-menu.dropdown-menu-right.show,
#myTab>span>div,
#InstantUpdating>option {
    background-color: $bg-color;
    color: $font-color;
    border: 1px solid $table-border-color;
}

div.show>div.dropdown-menu.dropdown-menu-right.show>a:hover,
#myTab>span>div>a:hover {
    background-color: $tableheader;
}

@import "C:/Users/P/node_modules/bootstrap/scss/bootstrap.scss";